<tr>
	<td colspan="2" align ="center" valign="top">
		<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" style="height: 1px; background-color: rgb(186, 186, 186);">
		</table>
	</td>
</tr>